<div id="box">
<h1> Home </h1>
<p>This is the {{ title }} page</p>
{{#if isAvailable}}
<ul>
    {{#each rooms}}
         <li> <a href={{this.name}}/{{this.id}}> {{this.name}}  </a></li>
    {{/each}}
</ul>
{{/if}}

<form action="/create" method="POST">
    <input type="text" name="roomName" id="roomName" placeholder="enter room name"/><br>
    <input type="submit" id="submitRoom" value="create room"/>
</form>
</div>
<form action="/logout" method="POST">
    <input type="submit" id="logout" value="Logout"/>
</form>


{{!-- <script>
    fetch("http://localhost:8080/getRoom").then()
</script> --}}
