<div id="box">
<h1> Login </h1>
<p>This is the {{ title }} page</p>

<form action="/loginUser" method="POST">
    <input id="username" type="text" name="username" placeholder="enter username"/><br>
    <input id="password" type="password" name="password" placeholder="enter password"/><br>

    <input type="submit" id="sub" value="Login"/>
</form>

<form action="/redirectToRegister" method="POST">
    <input type="submit" id="redirect" value="Register Here"/>
</form>
</div>
<!-- <script type="text/javascript">

</script> -->
